<div class="bca-table__header-container">
  <span class="bca-table__header-handle">
    <!--<bca-toggle-icon-->
      <!--button-icon="select_all"-->
      <!--unique-name="ctrl.uniqueName"-->
      <!--on-click="ctrl.selectDeselectAll(checked)"-->
      <!--checked="ctrl.selectedEntities.getSelectAllList()[ctrl.uniqueName]"-->
      <!--disabled="false">-->

      <bca-checkbox
        disabled="false"
        checked="ctrl.selectedEntities.getSelectAllList()[ctrl.uniqueName]"
        on-click="ctrl.selectDeselectAll(checked)">
      </bca-checkbox>
    </bca-toggle-icon>
  </span>
  <span class="bca-table__header-label" ng-repeat="headerField in ctrl.fields">
    {{headerField.label}}
  </span>
</div>
<div class="bca-table__scroll-container">
  <div
    data-bca-selectable
    data-bca-selectable-store-name="ctrl.uniqueName"
    ng-if="ctrl.uniqueName"
    ng-style="ctrl.canvasHeight"
    class="bca-table__item-container">
    <div
      class="bca-table__item is-selectable"
      ng-class="{
        'ui-selected': ctrl.selectedEntities.itemExists(ctrl.uniqueName, entity.id)}"
      ng-repeat="entity in ctrl.visibleElements"
      ng-style="entity.styles">
      <span class="bca-table__handle">
        <i class="material-icons">drag_handle</i>
      </span>
      <span class="bca-table__value" ng-repeat="rowField in ctrl.fields">
        {{entity[rowField.label] || 'No Value.'}}
      </span>
    </div>
  </div>
</div>
