// # IMPORTS ##########################################
@import "../../../app.mixins";
@import "../../../app.variables";
//Breadcrumb variables
@import "breadcrumb.variables";

.app-breadcrumb {
  height: 35px;
  padding: $genericPadding;
  box-sizing: border-box;

  a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
  }

  & > div,
  & > .fromBql {
    box-sizing: border-box;
    padding-left: 16px;

  }

  .path {
    min-width: 20%;
    max-width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
  }

  .fromBql {
    display: flex;
    flex: 1;
    align-items: center;

    #advanced-search-input {
      @include transition(all 0.3s ease-out);
      width: 100%;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.10);
      border: 1px solid rgba(0, 0, 0, 0.05);
      color: rgba(255, 255, 255, 0.8);

      &:focus {
        background-color: rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  .buttonBar {
    margin-left: auto;
  }

  .mdl-spinner {
    margin: 0 7px;
    width: 18px;
    height: 18px;
    bottom: 5px;
  }

  .mdl-spinner__circle {
    border-width: 2px;
  }

  .download-excel-icon {
    margin: 0 14px;
    cursor: pointer;
  }

  .disappear {
    position: absolute;
    top: 0;
    left: 0;
    @include transition(all 1s);
    transform: scale(0);
  }

  .appear {
    position: relative;
    @include transition(all 1s);
    transform: scale(1);
  }
}
