<div class="mdl-select mdl-js-select mdl-select--floating-label">
  <select
    data-ng-if="!s.isArray(s.bcaSelect.enum)"
    class="mdl-select__input"
    id="select-{{s.bcaSelect.name}}"
    name="select-{{s.bcaSelect.name}}"
    data-ng-model="s.model"
    data-ng-change="s.notify()"
    data-ng-options="list.getLabel(itemKey) for (itemKey, item) in s.bcaSelect.enum">
    <option value=""></option>
  </select>
  <select
    data-ng-if="s.isArray(s.bcaSelect.enum)"
    class="mdl-select__input"
    id="select-{{s.bcaSelect.name}}"
    name="select-{{s.bcaSelect.name}}"
    data-ng-model="s.model"
    data-ng-change="s.notify()">
    <option ng-repeat="option in s.bcaSelect.enum" value="{{option}}">{{option}}</option>
  </select>
  <label class="mdl-select__label mdl-textfield__label" for="select-{{s.bcaSelect.name}}"
    data-ng-hide="s.model">
    <span class="mdl-select__label">{{s.bcaSelect.name}}</span>
  </label>
</div>
