<div
  data-ng-if="saleEventDetails.dataOriginEntity"
  data-details-view="saleEventDetails.dataOriginEntity"
  data-entity="'saleevents'"
  data-contract="saleEventDetails.entityContract"
  data-config="saleEventDetails.dataStructureName">
</div>

<dialog id="publish-confirmation-dialog" class="mdl-dialog">
  <form
    id="publish-confirmation-form"
    name="publish-confirmation-form"
    data-ng-submit="saleEventDetails.executePublication('#publish-confirmation-dialog')">
    <div class="mdl-dialog__content">
      <span>Do you really want to publish this sale event?</span>
    </div>
    <div class="mdl-dialog__actions">
      <button type="submit" class="mdl-button">Confirm</button>
      <button
        type="button"
        class="mdl-button close"
        data-ng-click="saleEventDetails.closeDialog('#publish-confirmation-dialog')">
        Cancel
      </button>
    </div>
  </form>
</dialog>
