// # IMPORTS ##########################################
@import "../../../../app.mixins";
@import "../../../../app.variables";
@import "minigrid.variables";

.background-view-minigrid {

  .mini-grid-view-item.ng-enter {
    @include animation(fadeIn 1s);
  }

  .info-container {
    display: flex;
    margin: 6px 16px 0;
  }

  .grid-sorting-bar {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    flex: 1;

    .order-label {
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(#24701d, 0.79) !important;
      text-transform: uppercase;
      border: 1px rgba(black, 0.2) solid;
      float: left;
      padding: 0 10px 0 2px;
      max-width: 90px;
      flex-grow: 1;
      flex-shrink: 1;
      margin-right: 8px;
      color: rgba(black, 0.8);
    }

    .sort-bar-fields {
      display: flex;
      height: 20px;

      .field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 120px;
        flex-grow: 1;
        flex-shrink: 1;
        font-weight: normal !important;
        border: 1px transparent solid;
        margin: 0 2px;
        padding: 0 2px 0 10px;
        background-color: rgba(#2e8825, 0.6) !important;
        border-radius: 0 10px 10px 0;
        float: left;
        height: 18px;
        color: rgba(black, 0.7);

        .mdl-chip__text {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 55%;
        }

        .material-icons {
          margin: 0;
          padding-bottom: 1px;
          &.remove-action {
            font-size: 16px;
          }
        }
      }

      .field:hover {
        cursor: e-resize;
      }
    }

    .sorting-actions {
      z-index: 10;
      display: flex;
      align-items: center;

      .action-button.mdl-button{
        display: flex;
        justify-content: center;
        color: green;
        .material-icons {
          font-size: 18px;
        }
      }
    }
  }

  .card-side-0 {
    background: $cl-base-color-0;
  }
  .card-side-1 {
    background: $cl-base-color-1;
  }
  .card-side-2 {
    background: $cl-base-color-2;
  }
  .card-side-3 {
    background: $cl-base-color-3;
  }
  .card-side-4 {
    background: $cl-base-color-4;
  }
  .card-side-5 {
    background: $cl-base-color-5;
  }
  .card-side-6 {
    background: $cl-base-color-6;
  }

  .mdl-cell {
    &.mdl-card {
      min-height: 150px !important;
    }
    .card-title {
      font-size: 1em !important;
      SPAN {
        display: inline;
        margin-right: 10px;
      }
    }
    .mdl-card__title {
      min-height: 2em !important;
      max-height: 2em !important;
      overflow: hidden;
    }
    .mdl-card__supporting-text {
      font-size: 0.65em;
    }
    .data-container, .direction-arrow {
      margin: 3px !important;
    }

    .data-container {
      .card-label, .card-value {
        width: 45%;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .card-label {
        text-align: left;
      }

      .card-value {
        text-align: right;
      }
    }

    .mdl-card__actions {
      padding: 0 !important;
      .material-icons {
        padding: 0 !important;
        font-size: 20px !important;
      }
    }
  }

  #mini-grid-vehicles {
    position: relative;

    .mdl-cell {
      @include transition(all 400ms ease-out);
      @include layout-column;
      @include layout-align-space-between;
    }

    .mdl-card__title {
      @include layout-column;
      min-height: 5.5em;
      max-height: 5.5em;
      background-size: cover;
      background-position: center;
      color: white;
      position: relative;
      .card-title {
        font-size: 1.5em;
      }
      .card-subtitle {
        font-size: 1em;
      }
      .title-background-color {
        top: 0;
        left: 0;
        background-color: rgba(black, 0.3);
        position: absolute;
        width: 100%;
        height: 100%;
        > *{
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          margin: 8px;
        }
      }
    }

    .data-container {
      margin: 8px;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      height: 100%;
      @include layout-column;
      @include layout-align-space-around;
      .card-field {
        @include layout-row;
        @include layout-align-space-between;

        .card-label, .card-value {
          width: 45%;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .card-label {
          text-align: left;
        }

        .card-value {
          text-align: right;
        }
      }
    }

    .mdl-card__supporting-text {
      color: white;
      width: 100%;
      padding: 0 !important;
      @include layout-row;
      @include layout-align-space-between;
    }

    .mdl-card__actions {
      background: rgba(black, 0.5);
      color: white;
    }

    .selected-layer {
      background-color: rgba(green, 0.5);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      display: none;
    }

    .selected-grid .selected-layer{
      display: block;
    }

    .direction-arrow {
      margin: 0 5px;
      cursor: pointer;
      min-width: 16px;
      @include layout-column;
      @include layout-align-center;
      @include unselectable;
      &:hover {
        background-color: rgba(black, 0.2);
      }
      &.disabled-direction-arrow {
        cursor: auto;
        background-color: transparent !important;
      }
      .material-icons {
        margin: 0 !important;
      }
    }

    .mdl-card__actions {
      @include layout-row;
      @include layout-align-end;
      button {
        margin: 0 5px;
      }
    }
  }

  .edition-mode-layer {
    z-index: 5;
    position: fixed;
    top: 99px;
    left: 0;
    height: calc(100% - 99px);
    width: 100%;
    background-color: #0b3e6f;
    display: flex;
    flex-direction: column;

    .sort-bar-fields {
      flex: 1;
    }

    .persist-checkbox-container {
      width: 100%;
      height: 25px;
      margin: 8px 8px 0 0;

      .persist-config {
        color: white;
        float: right;
        margin-right: 20px;
        .mdl-checkbox__box-outline {
          border: 2px solid rgba(255, 255,255 , 0.54);
        }
        &.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
          background-color: rgba(255, 255,255 , 0.54) !important;
        }
      }
    }

    .edit-config-title {
      height: 50px;
      background: rgba(black, 0.5);
      color: white;
      padding: 0 20px;
      font-size: 1.2em;
      @include layout-row;
      @include layout-align-center;
      @include layout-align-space-between;

      .title-text {
        border-right: 1px white solid;
        font-size: 1.2em;
        width: 170px;
        height: 100%;
        padding-right: 5px;
        align-items: center;
        display: flex;
      }

      .placeholder {
        max-width: 120px;
        height: 27px;
        border-radius: 0;
        flex-shrink: 1;
        float: left;
      }

      .order-label {
        background: transparent !important;
        color: white;
      }

      .field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 120px;
        flex-grow: 1;
        flex-shrink: 1;
        font-weight: normal !important;
        background-color: rgba(white, 0.5) !important;
        border-color: transparent;
        padding: 0 2px 0 10px;
        float: left;
        margin: 0 2px;
      }

      .edit-config-actions {
        @include layout-row;
        @include layout-align-space-between;

        .action-button {
          margin-right: 5px;
        }
      }
    }

    .placeholder {
      height: 28px;
      background-color: rgba(black, 0.3);
      border-radius: 16px;
      min-width: 20px;
      margin: 2px 0;
    }

    &.ng-enter {
      @include animation(slideInDown 0.8s);
    }
    &.ng-leave {
      @include animation(slideOutUp 0.8s);
    }

    .layers-container {
      height: calc(80% - 50px);

      .mdl-card, .mdl-card__supporting-text {
        overflow: visible;
        z-index: auto;
      }
      .mdl-card__supporting-text {
        width: auto;
        @include layout-column;
        flex-grow: 1;
      }

      .edit-layer-field {
        display: block;
        cursor: move;
        max-height: 28px;
        @include layout-row;
        @include layout-align-center;
        @include layout-align-space-between;

        .mdl-chip__text {
          width: 80%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .material-icons {
          padding: 0;
        }
      }
    }

    .fields-container {
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(20% - 30px);
      padding: 15px;
      background: rgba(black, 0.4);
      .edit-box-field {
        margin: 5px;
        cursor: move;
      }
    }

    .mdl-card {
      height: 192px;
      display: inline-flex;
      margin: 10px;
      width: calc(100%/6 - 21px);
      min-width: 200px;
      min-height: 130px;
      position: relative;
      &.ng-leave {
        @include animation(fadeOut 0.2s);
      }
      .card-title {
        @include layout-row;
        @include layout-align-center;
        border-bottom: thin dashed rgba(black, 0.3);
        background-color: rgba(white, 0.3);
        min-height: 26px;
        .card-number {
          @include layout-row;
          @include layout-align-center;
          width: 50px;
          height: 25px;
        }
      }
      .remove-layer-button {
        position: absolute;
        background-color: #aa0808;
        color: white;
        width: 20px;
        min-width: 20px;
        height: 20px;
        top: 2px;
        right: 2px;
        font-size: 18px;
        i {
          padding: 0 !important;
          font-size: 14px;
        }
      }
    }
    .add-layer-card {
      position: relative;
      @include layout-row;
      @include layout-align-center;
      padding: 16px 0 !important;
      width: 100%;

      .mdl-button--fab {
        @include layout-column;
        @include layout-align-center;
        margin-top: 28px;
        height: 70px;
        width: 70px;
        background: rgba(158,158,158,0.3);
        box-shadow: 0 0 0 0 !important;
        color: rgba(black, 0.5);;

        &:active {
          background: rgba(158,158,158,0.4);
        }

        .material-icons {
          padding: 0 !important;
          @include unselectable;
        }
      }
    }
  }
  #loading-more-data {
    margin-left: 50%;
    width: 60px;
    height: 60px;
    .highlighted {
      .text-container {
        background-color: yellow !important;
      }
    }
  }
}
