//# IMPORTS ##########################################
@import "../../../../app.mixins";

.fab-language-container {
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;

  .fab-trigger {
    @include doResponsive(phone) {
      margin: 0;
      top: 20px;
      left: -80px;
    }
  }

  .fab-actions {
    position: absolute;
    bottom: -40px;
    display: flex;
    flex-flow: row wrap;

    @include doResponsive(phone) {
      bottom: -5px;
      margin-left: 40px;
    }
  }

  .fab-action-button.ng-enter {
    transition: all linear 0.3s;
    height: 0;
  }

  .fab-action-button.ng-enter-active {
    height: 32px;
  }

  .fab-action-button.ng-leave {
    transition: all linear 0.3s;
    height: 32px;
  }

  .fab-action-button.ng-leave-active {
    height: 0;
  }
}
