<button data-ng-click="appear = !appear" class="mdl-button mdl-js-button mdl-button--fab fab-trigger">
  <img data-ng-src="images/locale/{{login.language.locale}}_48.png" alt="{{login.language.locale}}">
</button>

<div class="fab-actions">
  <button
    data-ng-repeat="row in login.availableLanguages"
    data-ng-if="appear"
    data-ng-click="login.changeLanguage(row.locale)"
    class="mdl-button mdl-js-button mdl-button--icon fab-action-button">
    <img data-ng-src="images/locale/{{::row.locale}}_24.png" alt="{{::row.locale}}">
  </button>
</div>
