<div class="dashboard-container">
  <div class="dashboard-title">Dashboard</div>
  <div class="chart-wrapper">

    <div data-ng-if="!dashboard.isBcaAdmin" class="sla-container">
      <div class="sla-title">SLAs</div>
      <div class="sla-item" data-ng-repeat="sla in dashboard.allSla">
        <a class="sla-url" data-ng-click="dashboard.slaClickHandler(sla)">{{sla.label}}</a><span>{{sla.value}}</span>
      </div>
    </div>

    <div data-ng-if="!dashboard.isBcaAdmin" class="chart-container">
      <div>
        <canvas
          id="sales-channel-vehicles-chart"
          class="chart-base"
          data-chart-type="::dashboard.salesChannelVehiclesChart.type"
          data-chart-data="dashboard.salesChannelVehiclesChart.data"
          data-chart-labels="dashboard.salesChannelVehiclesChart.labels"
          data-chart-colors="dashboard.salesChannelVehiclesChart.colors"
          data-chart-options="{legend: {display: true, position: 'bottom'}, title: {display: true, text: 'Sales Channel Vehicles', fontSize: 20}}"
          data-chart-click="dashboard.salesChannelVehiclesChartClickHandler">
        </canvas>
      </div>
    </div>
  </div>
</div>
