//# Color related variables. Tag: cl
$cl-login: rgb(189,189,189);
$cl-login-80: rgba(189,189,189, 0.8);

//# Images references variables. Tag: im
$im-login-background: '/images/login/background-login.jpg';
