//# IMPORTS ####################################################
@import '../../app.mixins';
@import '../../app.variables';
@import 'login.variables';

#login-scope {
  background: url($im-login-background) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @at-root #{&}__active {
    width: 55%;
    @include doResponsive(tablet) { width: 100%; }
    margin: 0 auto;
    background-color: rgba(0,0,0, 0.5);

    FORM {
      margin: 0 auto;

      .mdl-textfield {
        display: block;
        margin-top: 30px;
      }

      @include mdlFloatingLabelsUseStates {
        color: $cl-login-80;
      }

      .mdl-textfield--floating-label.is-invalid .mdl-textfield__label,
      .mdl-textfield__error.mdl-textfield__error--multiple .mdl-textfield__error--sub {
        @include applyTextContour(1px, 3px, rgb(34,34,34)) {
          color: $cl-app-red;
        }
      }

      @include mdlCheckBoxSetColor(login) {
        margin-top: 20px;
      }

      .mdl-button {
        display: block;
        width: 100%;
        margin-top: 30px;
        background-color: rgba(158,158,158, 0.20);
      }
      .mdl-button:disabled {
        background-color: transparent;
        color: $cl-login;
      }
    }
  }

  @at-root #{&}__logo {
    margin: 0 auto;
    width: 45%;
  }

  .forgot-pass {
    margin: 0 auto;

    .forgot-pass-url {
      color: lightgrey;
      text-decoration: none;
      font-size: 1.2em;
    }

    .forgot-pass-url:hover {
      text-decoration: underline;
    }
  }
}
