//# Box model related variables. Tag: bm
$headerHeight: 130px;
$bm-navHeight: 64px;
$bm-breadcrumbHeight: 34px;
$genericPadding: 0 28px;

//# Position related variables. Tag: ps

//# Color related variables. Tag: cl
$cl-app-red: rgb(213,0,0);
$lightFontHover: #666565;
$menuItemHoverColor: lighten(#e78f08, 30%);
$cl-blackAlpha: rgba(#000000, 0.5);
$cl-bcaBlue: rgba(0, 43, 121, 0.75);
$cl-bcaLightBlue: #dcdafe;

//# Font related variables. Tag: fs

//# Images references variables. Tag: im
$im-header-background: '/images/header/header-stroke.png';

//# Effect related variables. Tag: ef

//# Transition related variables. Tag: ts
$ts-scrollingTransition: all 0.3s !important;
