//# IMPORTS ####################################################
@import 'app.mixins';
@import 'app.variables';

BODY {
  overflow: hidden;
}

//# APP ########################################################
//# Global styles for common use. Tag: g
.g-parent-text-color {
  color: inherit;
}
.g-parent-border-color {
  border-color: inherit;
}

//# MATERIAL DESIGN LITE #######################################
//# Core styles overwritten
//## Fix vertical alignment in Material Design Icons
.material-icons {
  vertical-align: middle;
  margin-right: 8px;
}

//## Customize label spaces for inputs with floating labels
@include mdlFloatingLabelsUseStates {
  top: -6px;
}
.mdl-textfield--floating-label .mdl-textfield__label {
  top: 14px;

  .mdl-textfield__label--text-icon {
    position: fixed;
    margin-top: 6px;
  }
}
.mdl-textfield__error.mdl-textfield__error--multiple {
  visibility: visible !important;
  .mdl-textfield__error--sub {
    margin-right: 5px;
  }
}

//## Customize checkbox size
.mdl-checkbox {
  width: initial;
}

//## Customize dialogs appearance
.mdl-dialog {
  width: fit-content !important;
  max-width: 90% !important;
  &__title {
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px !important;
  }
}

//## Customize datetime picker appearance
.ADMdtp-container .ADMdtp-calendar-container {
  .daysNames > SPAN {
    color: $cl-bcaBlue;

    SPAN {
      color: $cl-bcaBlue;
    }
  }

  FOOTER {
    .timeSelectIcon {
      fill: $cl-bcaBlue;

      &:hover {
        fill: $cl-bcaLightBlue;
      }
    }

    .today {
      color: $cl-bcaBlue;
    }
  }

  .days > SPAN {
    & > SPAN.selected, .monthPickerContainer .monthContainer .days> SPAN > SPAN:hover {
      background: $cl-bcaBlue !important;
    }

    & > SPAN:not(.disable):hover {
      background: $cl-bcaLightBlue;
      color: #0308d6;
    }
  }

  .timePickerContainer .timePicker SPAN.dtpIcon {
    SVG {
      fill: $cl-bcaBlue;
    }

    &:hover SVG {
      fill: $cl-bcaBlue;
    }

    &:hover:before {
      background: $cl-bcaLightBlue;
    }
  }

  .dtpNewBox .calendarIcon:after, .monthPickerContainer .calendarIcon:after, & .timePickerContainer .calendarIcon:after {
    content: '';
    position: absolute;
    display: block;
    top: -6px;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 3em solid #4037cc;
    border-right: 3em solid transparent;
    z-index: -1;
  }
}

.bca-table {

  .bca-table__row{
    display: block;
    width: 99%;
    position: absolute;
    height: 100px;
    line-height: 30px;
  }
}

