<!-- Standard sale events view -->
<div data-layout="column" data-layout-align="center" class="sale-event-container">
  <div class="content">
    <div
      data-list-view="saleEvents.viewConfig.data"
      data-config-name="saleEvents.configName + 'ListView'"
      data-load="saleEvents.loadList"
      data-scroll-container="'app-main'"
      data-control-list=""
      data-control="saleEvents.viewConfig.focusInList"
      data-draggable="saleEvents.viewConfig.draggable"
      class="list background-view-list"
      data-entity="saleEvents.dataOriginEntity"
      data-ng-if="saleEvents.viewConfig.type === saleEvents._shared.LIST_VIEW">
    </div>
    <div
      data-grid-view="saleEvents.viewConfig.data"
      data-load="saleEvents.loadList"
      data-scroll-container="'app-main'"
      data-control-grid=""
      data-control="saleEvents.viewConfig.focusInGrid"
      data-config-name="saleEvents.configName + 'GridView'"
      class="list background-view-grid"
      data-entity="saleEvents.dataOriginEntity"
      data-ng-if="saleEvents.viewConfig.type === saleEvents._shared.GRID_VIEW">
    </div>
    <div
      data-mini-grid-view="saleEvents.viewConfig.data"
      data-load="saleEvents.loadList"
      data-scroll-container="'app-main'"
      data-control-mini-grid=""
      data-control="saleEvents.viewConfig.focusInMiniGrid"
      data-config-name="saleEvents.configName + 'MiniGridView'"
      class="list background-view-minigrid"
      data-entity="saleEvents.dataOriginEntity"
      data-ng-if="saleEvents.viewConfig.type === saleEvents._shared.GRID_MINI_VIEW">
    </div>
    <div
      data-simple-list-view="saleEvents.viewConfig.data"
      data-total-results="saleEvents.totalResults"
      data-load="saleEvents.loadList"
      data-scroll-container="'app-main'"
      data-control-simple-list=""
      data-control="saleEvents.viewConfig.focusInSimpleList"
      data-config-name="saleEvents.configName + 'SimpleListView'"
      data-entity="saleEvents.dataOriginEntity"
      data-ng-if="saleEvents.viewConfig.type === saleEvents._shared.SIMPLE_LIST_VIEW">
    </div>
  </div>
</div>
