// # IMPORTS ##########################################
@import "../../../../_app.variables";
@import "../../../../_app.mixins";

//Vehicle details variables
@import "details.variables";
.page-content.ng-animate .details-view .details_big-button {
  display: none;
}

//wraps around module
.details-view {
  FIELDSET[disabled] .mdl-textfield .mdl-textfield__label, .mdl-textfield.is-disabled.is-disabled .mdl-textfield__label {
    color: rgb(0, 0, 0);
  }

  .log-field {
    font-size: 0.7em;
    transition: all 0.2s;
  }

  .changing-type.ng-leave-active {
    position: absolute;
    opacity: 0;
  }

  .details_big-button {
    @include transition(opacity 100ms cubic-bezier(0.4, 0.0, 0.2, 1));
    position: fixed;
    opacity: 0.6;
    bottom: 0;
    width: 40px;
    min-width: 40px;
    background-color: #d6d9d9;
    height: 100%;
    z-index: 100;
    i {
      margin: 0;
    }

    &.details-previous {
      left: 0;
    }
    &.details-next {
      right: 20px;
    }
  }
  .details_big-button:hover {
    opacity: 1;
  }
  .mdl-textfield{
    INPUT{
      transition: border-bottom 0.35s ease-in;
    }
    INPUT:disabled{
      transition: border-bottom 0.35s ease-out;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
    .mdl-textfield__label{
      color: inherit;
      top: 0;
      font-size: 0.8em;
    }
  }
  .mdl-textfield--floating-label.mdl-is-dirty .mdl-textfield__label,
  .mdl-textfield--floating-label.is-focused .mdl-textfield__label,
  .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: rgb(63,81,181) !important;
    font-weight: bold;
    font-size: 0.8em;
    top: 0;
    visibility: visible;
  }
  .mdl-textfield--floating-label.mdl-is-invalid .mdl-textfield__label,
  .mdl-textfield--floating-label.is-invalid .mdl-textfield__label{
    color: rgb(213,0,0);
  }
  .detailsContent {
    margin: 1em;
  }
  .input-wrapper {
    margin: $bm-placeholder-margin;
    padding: 1px 10px 0 10px;
    position: relative;
    background-color: white;

    .inputDragHandler {
      border-color: transparent;
    }

    .inputDragHandlerActive {
      width: 100%;
      height: 100%;
      top: 0;
      left: -$bm-handler-left-border;
      position: absolute;
      border-left: $bm-handler-left-border solid rgba(220, 40, 43, 0.75);
      cursor: move;
      z-index: 1;
      @include transition(box-shadow 400ms cubic-bezier(0.0, 0.0, 0.2, 1));
    }

    .datetime-picker-label {
      font-size: 0.8em;
    }
  }

  .outlined {
    outline: $ef-outline-section;
    outline-offset: $ef-outline-offset;
  }
  .placeholder {
    @extend .outlined;
    @extend .input-wrapper;
    background-color: rgba(0,0,0,0.05);
    box-shadow: none;
    text-align: center;
    line-height: $bm-placeHolderHeight;
    font-size: 1.5em;
    color: $cl-outline-section;
  }
  .placeholder-field{
    @extend .placeholder;
    width: 260px;
  }
  .placeholder-card {
    outline: 2px dashed rgba(0, 0, 0, 0.2) !important;
    margin: 0 0 16px;
    padding: 0;
    line-height: 64px;
    @extend .placeholder;
    &:before {
      content: 'Drop your item here';
    }
  }

  .mdl-card {
    width: 100%;
    min-height: 0;
    margin-bottom: 16px;
    overflow: visible;
    z-index: inherit;
    position: inherit;
    .mdl-card__title{
      @include transition(background-color 250ms cubic-bezier(0.4, 0.0, 0.2, 1));
      background-color: rgba(0,43,121,0.75);
      color: rgba(255, 255, 255, 0.8);
      .mdl-card__title-text{
        line-height: 32px;
        font-size: larger;
      }
      &.cardDragHandler {
        cursor: move;
        display: flex;
        justify-content: space-between;
      }

      i.mdl-card__avatar{
        background-color: rgba(0,0,0,0.2);
        font-size: 20px;
        padding: 6px;
        border-radius: 50%;
        margin-right: 10px;
      }

    }
    .mdl-card__empty-card{
      text-align: center;
      margin: 16px;
    }
    .detailSection {
      @include layout-row;
      overflow: visible;
      .mdl-textfield{
        width: 100%;
      }
      .beauty-image-holder{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .beauty-image{
          width: 100%;
        }
      }
    }
    .fieldSection {
      min-height: 83px;
    }

  }
  .card-container {
    min-height: $bm-placeHolderHeight;
    
    .export-menu {
      position: relative;
    }

    .card-title {
      display: flex;
    }
  }
  .ac-container{
    position: fixed !important;
  }

  .mdl-checkbox{
    height: auto;
  }
  .mdl-data-table{
    width: 100%;
  }
  .mdl-data-table .mdl-textfield{
    width: 100%;
  }
  .mdl-data-table .mdl-textfield .mdl-textfield__input{
    font-size: 13px;
  }
  .mdl-data-table .mdl-textfield .mdl-textfield__label{
    color:  rgba(0,0,0, 0.26);
    font-size: 12px;
    top: 20px;
  }
  .adder-row{
    background-color: #e0e0e0;
  }
}
