.profile-div {
  UL {
    -webkit-padding-start: 3px !important;
  }
  .mdl-menu.mdl-menu--bottom-right {
    right: auto;
    padding: 0 !important;

    .mdl-menu__container.is-visible {
      right: calc(100% + 3px) !important;
      top: 0 !important;
    }
    .mdl-menu__container:not(.is-visible)  * {
      visibility: hidden !important;
    }
  }

  .mdl-menu__item[disabled], .mdl-menu__item[data-mdl-disabled] {
    cursor: default;
    color: #7c7c7c;
    &:hover {
      background-color: rgb(238,238,238);
    }
    .material-icons {
      color: rgba(0,0,0, 0.87);
    }
  }

  .brand-container {
    height: inherit !important;
    padding: 2px 8px;
    .mdl-list__item-avatar {
      height: 30px;
      width: auto;
    }

    .brand-label {
      display: block;
      font-size: 10px;
      line-height: 12px;
      opacity: 0.7;
      float: right;
    }

    .brand-name {
      margin-left: 10px;
    }

  }
}

