<!-- Advanced search boolean filter -->
<i class="mdl-chip-advanced-search-close material-icons "
   data-ng-if="!data.searchable.standard"
   data-ng-click="booleanFilter.removeNonStandardField(data)">cancel</i>
<div
  class="md-primary mdl-card-adv-search mdl-shadow--2dp">
  <div
    class="mdl-card-adv-search__title"
    data-ng-class="{'cardDragHandler md-primary': true}"
    data-ng-click="booleanFilter.collapsed = !booleanFilter.collapsed">
    <div class="filter-title">
      <i class="mdl-card-adv-search__avatar material-icons">assignment</i>
      <span class="mdl-card-adv-search__title-boolean">{{::data.title}}</span>
    </div>
    <span data-ng-if="booleanFilter.finalSelectedValue===true||booleanFilter.finalSelectedValue===false" class="mdl-chip mdl-chip--deletable mdl-chip-advanced-search">
      <span class="mdl-chip__text"><strong>{{booleanFilter.finalSelectedValue}}</strong></span>
      <button type="button" class="mdl-chip__action" data-ng-click="booleanFilter.fastRemoveFilter()">
        <i class="material-icons">cancel</i>
      </button>
    </span>

  </div>
  <div
    class="md-inline-form slide"
    data-ng-hide="booleanFilter.collapsed">
    <label
      class="mdl-radio mdl-js-radio mdl-js-ripple-effect boolean-filter"
      for="adv-search-bool-{{::data.name}}-1"
      data-ng-class="{'is-checked' : booleanFilter.selectedValue === true}">
      <input
        type="radio"
        id="adv-search-bool-{{::data.name}}-1"
        class="mdl-radio__button"
        name="{{::data.name}}"
        data-ng-value="true"
        data-ng-click="booleanFilter.handleFilter(data)"
        data-ng-model="booleanFilter.selectedValue">
      <span class="mdl-radio__label">Yes</span>
    </label>
    <label
      class="mdl-radio mdl-js-radio mdl-js-ripple-effect boolean-filter"
      for="adv-search-bool-{{::data.name}}-2"
      data-ng-class="{'is-checked' : booleanFilter.selectedValue === false}">
      <input
        type="radio"
        id="adv-search-bool-{{::data.name}}-2"
        class="mdl-radio__button"
        name="{{::data.name}}"
        data-ng-value="false"
        data-ng-click="booleanFilter.handleFilter(data)"
        data-ng-model="booleanFilter.selectedValue">
      <span class="mdl-radio__label">No</span>
    </label>
  </div>
</div>
