<!-- Advanced search num filter -->
<i class="mdl-chip-advanced-search-close material-icons "
   data-ng-if="!data.searchable.standard"
   data-ng-click="numFilter.removeNonStandardField(data)">cancel</i>
<div class="md-primary mdl-card-adv-search mdl-shadow--2dp">
  <div
    class="mdl-card-adv-search__title"
    data-ng-class="{'cardDragHandler md-primary': true}"
    data-ng-click="numFilter.collapsed = !numFilter.collapsed">
    <div class="filter-title">
      <i class="mdl-card-adv-search__avatar material-icons">assignment</i>
      <span class="mdl-card-adv-search__title-text">{{::data.title}}</span>
    </div>
    <span data-ng-if="numFilter.finalSelectedValueFrom" class="mdl-chip mdl-chip--deletable mdl-chip-advanced-search">
      <span class="mdl-chip__text"><strong>From {{numFilter.finalSelectedValueFrom}}</strong></span>
      <button type="button" class="mdl-chip__action" data-ng-click="numFilter.fastRemoveFilter(true)">
        <i class="material-icons">cancel</i>
      </button>
    </span>
    <span data-ng-if="numFilter.finalSelectedValueTo" class="mdl-chip mdl-chip--deletable mdl-chip-advanced-search">
      <span class="mdl-chip__text"><strong>To {{numFilter.finalSelectedValueTo}}</strong></span>
      <button type="button" class="mdl-chip__action" data-ng-click="numFilter.fastRemoveFilter(false)">
        <i class="material-icons">cancel</i>
      </button>
    </span>

  </div>
  <div
    class="md-inline-form slide"
    data-ng-hide="numFilter.collapsed">
      <div class="adv-search-textfield">
        <input
          id = "{{data.name}}-from"
          class="mdl-textfield__input adv-search"
          data-ng-model="numFilter.selectedValueFrom"
          type="text"
          data-ng-blur="numFilter.handleFilter(data, true)">
          <label class="mdl-textfield__label" for="{{data.name}}-from">From...</label>
      </div>
      <div class="adv-search-textfield">
        <input
          id = "{{data.name}}-to"
          class="mdl-textfield__input adv-search"
          data-ng-model="numFilter.selectedValueTo"
          type="text"
          data-ng-blur="numFilter.handleFilter(data, false)">
          <label class="mdl-textfield__label" for="{{data.name}}-to">To...</label>
      </div>
  </div>
</div>

