// # IMPORTS ##########################################
@import "../../../../app.mixins";
@import "../../../../app.variables";

.background-view-simple-list {
  .info-container {
    display: flex;
    margin: 6px 16px 0;
  }

  .list-sorting-bar {
    position: relative;
    flex: 1;
    z-index: 2;
    display: flex;
    align-items: center;

    .order-label {
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(#24701d, 0.79) !important;
      text-transform: uppercase;
      border: 1px rgba(black, 0.2) solid;
      float: left;
      padding: 0 10px 0 2px;
      max-width: 90px;
      flex-grow: 1;
      flex-shrink: 1;
      margin-right: 8px;
      color: rgba(black, 0.8);
    }

    .sort-bar-fields {
      display: flex;
      height: 20px;

      .field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 120px;
        flex-grow: 1;
        flex-shrink: 1;
        font-weight: normal !important;
        border: 1px transparent solid;
        margin: 0 2px;
        padding: 0 2px 0 10px;
        background-color: rgba(#2e8825, 0.6) !important;
        border-radius: 0 10px 10px 0;
        float: left;
        height: 18px;
        color: rgba(black, 0.7);

        &:hover {
          cursor: e-resize;
        }

        .mdl-chip__text {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 55%;
        }

        .material-icons {
          margin: 0;
          padding-bottom: 1px;
          &.remove-action {
            font-size: 16px;
          }
        }
      }
    }

    .sorting-actions {
      z-index: 10;
      display: flex;
      align-items: center;

      .action-button.mdl-button{
        display: flex;
        justify-content: center;
        color: green;
        .material-icons {
          font-size: 18px;
        }
      }
    }
  }

  .log-field {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    cursor: move;

    & .type-array {
      SPAN {
        display: block;
      }
    }

    .mdl-button--raised {
      background-color: white;
    }
    .mdl-button.log-status {
      padding: inherit;
      width: 100%;
      color: rgba(255, 255, 255, 0.8);
      cursor: inherit;
      &.success {
        background-color: green;
      }
      &.failed {
        background-color: red;
      }
    }
  }

  .fromBql {
    display: flex;
    flex: 1;
    align-items: center;
    margin-bottom: 4px;

    .advanced-search-input {
      @include transition(all 0.3s ease-out);
      width: 100%;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.10);
      border: 1px solid rgba(0, 0, 0, 0.05);
      color: rgba(0, 0, 0, 0.6);
      padding: 5px;

      &:focus {
        background-color: rgba(0, 0, 0, 0.15);
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: rgba(0, 0, 0, 0.7);
      }
    }
    .mdl-button {
      height: 27px;
    }
  }

  .partial-counter.total-results-container STRONG {
    position: static;
    padding: 5px 10px;
    font-weight: normal;
    font-size: smaller;
  }

  &.partial-list .log-wrapper{
    max-height: 450px !important;
    overflow: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
      background-color: lightgrey;
      border-radius: 5px;
    }
  }

  .log-wrapper {
    .info-container {
      display: flex;
      margin: 6px 16px 0;
      justify-content: space-between;
      &.to-end {
        justify-content: flex-end;
      }
    }

    .ui-sortable-rows-handle {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer !important;
      transition: background-color .3s !important;

      &:hover {
        background-color: rgba(yellow, 0.3) !important;
      }
    }

    .ui-sortable-rows-helper {
      background-color: rgba(black, 0.3) !important;
    }

    .ui-sortable-rows-placeholder {
      border: 1px black dashed !important;
      background-color: rgba(yellow, 0.3) !important;
    }

    .mdl-list__item.ng-enter, .log-field.ng-enter  {
      @include animation(fadeIn 1s);
    }

    .mdl-list__item.ng-leave, .log-field.ng-leave  {
      @include animation(fadeOut .6s);
    }

    &.mdl-list {
      padding: 0;
      position: inherit;
    }

    background-color: white;
    margin: 16px;
    padding-left: 0;
    .mdl-menu__item--full-bleed-divider {
      border-bottom: 1px solid rgba(0,0,0,0.12);
    }
    .ui-sortable-helper{
      background: #00a2b4;
    }
    .sortableFloat{
      position: absolute;
      z-index: 2000;
      border-left:2px dashed rgba(100,100,100,0.5);
      border-right:2px dashed rgba(100,100,100,0.5);
      color : transparent;
      padding: 10px!important;
      margin:0;
    }
    .sortableMoving{
      border-left:2px dashed #00a2b4;
      border-right:2px dashed #00a2b4;
      padding: 10px!important;
      margin:0;
    }

    .changing-type.ng-leave-active {
      position: absolute;
      opacity: 0;
    }

    .log-field {
      padding: 0 10px 0 10px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;

      &.title-field {
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0;
      }
      & .type-array {
        SPAN {
          display: block;
        }
      }

      .mdl-button--raised {
        background-color: white;
      }
      .mdl-button.log-status {
        padding: inherit;
        width: 100%;
        color: rgba(255, 255, 255, 0.8);
        cursor: inherit;
        &.success {
          background-color: green;
        }
        &.failed {
          background-color: red;
        }
      }
    }

    .mdl-list__item {
      position: relative;
      padding: 0;
    }

    .mdl-list__item.odd {
      background-color: #e5eaec;
    }

    .selected-item {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: rgba(#086e20, 0.5) !important;
    }

    .simple_list_item {
      padding : 0;
    }
    .simple_list_item span {
      padding-top: 3px;
      padding-bottom: 3px;
      max-width: 100%;
    }
    .mdl-list__item.mdl-menu__item--full-bleed-divider {
      background-color: #005d6e;
      color: #FFF;
      height: 100%;
    }
    .last-column {
      padding-right: 5px;
    }

    .icon-title {
      top:50%;
      left:50%;
    }

    .test {
      min-width: 50%;
    }

    .ui-sortable-handle {
      cursor: e-resize;
    }
  }

#loading-more-data {
  margin-left: 50%;
  width: 60px;
  height: 60px;
  .highlighted {
    .text-container {
      background-color: yellow !important;
    }
  }
}

.edition-mode-layer {
  z-index: 5;
  position: fixed;
  top: 99px;
  left: 0;
  width: 100%;
  height: calc(100% - 99px);
  display: flex;
  flex-direction: column;

    .persist-checkbox-container {
      width: 100%;
      height: 25px;
      margin: 8px 5px 30px 5px;;

      .persist-config {
        color: white;
        float: right;
        margin-right: 20px;
        .mdl-checkbox__box-outline {
          border: 2px solid rgba(255, 255,255 , 0.54);
        }
        &.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
          background-color: rgba(255, 255,255 , 0.54) !important;
        }
      }
    }

    .edition-container {
      background-color: #0b3e6f;
    }

    .screen-filler {
      background-color: rgba(black, 0.8);
      flex: 1;
      &.ng-hide-remove {
        @include animation(fadeIn 1s);
      }
      &.ng-hide-add {
        @include animation(fadeOut 1s);
      }
    }

  .list-sorting-bar {
    padding: 0;
    .order-label {
      background: transparent !important;
      color: white;
      border: none;
    }
    .sort-bar-fields {
      flex: 1;
    }
  }

  #sorting-fields-edit-mode {

    .field {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 120px;
      flex-grow: 1;
      flex-shrink: 1;
      font-weight: normal !important;
      background-color: rgba(white, 0.5) !important;
      border-color: transparent;
      padding: 0 2px 0 10px;
      float: left;
      margin: 0 2px;

      &:hover {
        cursor: e-resize;
      }
      .mdl-chip__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 55%;
      }

      .material-icons {
        margin: 0;
        &.remove-action {
          font-size: 16px;
        }
      }
    }
  }

    .edit-config-title {
      height: 50px;
      background: rgba(black, 0.5);
      color: white;
      font-size: 1.2em;
      padding: 0 30px;
      @include layout-row;
      @include layout-align-center;
      @include layout-align-space-between;

      .title-text {
        border-right: 1px white solid;
        padding-right: 10px;
      }
    }
    .active-fields-container .sortable-fields {
      margin: 30px 5px;
      padding: 5px;
      background-color: #005d6e;
      display: flex;
      .mdl-chip {
        flex-grow : 1;
        .mdl-chip__text{
          width : calc(100% - 28px);
        }
        max-width: 30%;
      }
    }
    .placeholder {
      background-color: rgba(black, 0.3);
      min-width: 120px;
      margin: 0 4px;
      display: inline-block;
    }

    &.ng-enter {
      @include animation(slideInDown 0.8s);
    }
    &.ng-leave {
      @include animation(slideOutUp 0.8s);
    }

    .fields-container {
      height: 20%;
      padding: 15px;
      background: rgba(black, 0.4);
      position: relative;
      .edit-box-field {
        margin: 5px;
        cursor: move;
      }
    }
    .active-fields-container {
      height: calc(50% + 5px);
      overflow-y: auto;
      overflow-x: hidden;

      .mdl-card, .mdl-card__supporting-text {
        overflow: visible;
        z-index: auto;
      }
      .mdl-card__supporting-text {
        width: auto;
        @include layout-column;
        flex-grow: 1;
      }

      .edit-layer-field {
        display: block;
        max-height: 28px;
        @include layout-row;
        @include layout-align-center;
        @include layout-align-space-between;

        .mdl-chip__text {
          width: 80%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .material-icons {
          padding: 0;
        }
      }
    }
    .animate-show.ng-hide-add,
    .animate-show.ng-hide-remove {
      display: inline-block !important;
    }
    .animate-show.ng-hide {
      -webkit-transition: width 0.5s;
      transition: width 0.5s;
      width: 2px;
      padding:0;
      margin:0;
    }
    .animate-show {
      -webkit-transition: width 0.5s;
      transition: width 0.5s;
      padding:0;
      margin:0;
    }
    .active{
      background-color: #dedede;
    }
  }
}
