<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <select
    id="{{containerId}}_{{conditionalFieldId}}"
    data-ng-if="conditionalField.enum"
    data-ng-model="detailData[containerId][conditionalFieldId]"
    data-ng-options="optionKey as option for (optionKey, option) in conditionalField.enum"
    data-ng-required="condField.required"
    data-ng-disabled="!editDetails">
    <option value="">None</option>
  </select>
  <input
    id="{{containerId}}_{{conditionalFieldId}}"
    data-ng-if="conditionalField.type === 'integer'"
    data-ng-model="detailData[containerId][conditionalFieldId]"
    class="mdl-textfield__input"
    type="number"
    data-ng-required="conditionalField.required"
    data-ng-disabled="!editDetails">
  <label class="mdl-textfield__label" for="{{containerId}}_{{conditionalFieldId}}">{{conditionalFieldLabel}}</label>
</div>
