// # IMPORTS ##########################################
@import "../../../../app.variables";
@import "../../../../app.mixins";

@import 'app.auto-complete.variables';

.#{$sas-autocomplete} {
  //width: fit-content !important;
  position: relative;
  display: inline-block;
  .#{$sas-autocomplete}__list {
    position: absolute;
    z-index: 999;
    //width: fit-content !important;
    right: 0;
    top: 30px;
    display: none;
    background-color: white;
    .#{$sas-autocomplete}__container {
      list-style-type: none;
      padding: 0;
      margin: 10px;
      .#{$sas-autocomplete}__item {
        padding: 5px 10px;
        white-space: nowrap;
      }
      .#{$sas-autocomplete}__item--hover {
        background-color: #3d4eae;
        color: white;
      }
    }
  }
  .mdl-chip {
    vertical-align: middle;
    margin-left: 5px;
  }
}
