<div class="bca-autocomplete">
  {{ac.element.label.split('/').join('_')}}:
  VALUE({{ac.element.value}}) -- MULTIPLE({{ac.element.isMultiple}}) -- MULTICHIPS({{(ac.element.value && ac.element.isMultiple) || false}})
  <span class="mdl-chip mdl-chip--deletable" data-ng-if="ac.element.value && !ac.element.isMultiple">
    <span class="mdl-chip__text">{{ac.element.value}}</span>
    <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
  </span>
  <span
    class="mdl-chip mdl-chip--deletable"
    data-ng-if="ac.element.value && ac.element.isMultiple"
    data-ng-repeat="(valueKey, value) in ac.element.value track by valueKey">
    <span class="mdl-chip__text">{{value.name}}</span>
    <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
  </span>

  <button class="mdl-button mdl-js-button mdl-button--icon bca-autocomplete__button">
    <i id="{{ac.id}}" class="material-icons bca-autocomplete__button--icon">arrow_drop_down</i>
  </button>

  <div id="{{ac.id}}_list" class="mdl-shadow--4dp bca-autocomplete__list">
    <ul class="bca-autocomplete__container">
      <li>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label bca-autocomplete__search">
          <input
            id="{{ac.id}}_search"
            type="text"
            class="mdl-textfield__input bca-autocomplete__input"
            data-ng-model="ac.inputModel">
          <label class="mdl-textfield__label g-parent-text-color" for="{{ac.id}}_search">
            <i class="material-icons">search</i>
            <span class="mdl-textfield__label--text-icon">Search</span>
          </label>
        </div>
      </li>
      <li class="bca-autocomplete__item" data-ng-repeat="option in ac.enum | filter:ac.inputModel track by option">
        {{option}}
      </li>
    </ul>
  </div>
</div>
